
body * {
    font-family: 'Roboto', sans-serif;
}

.grouped {
    box-sizing: border-box;
    margin: 0.5vh;
    padding: 0 1vh 1vh; /* pad the bottom and sides. >* gets top margin for equal vertical spacing */
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.grouped > * {
    margin-top: 1vh; /* margin top doesn't overlap .grouped padding */
}
.hidden {
    display: none;
}
button {
    padding: 4px;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    color: #eee;
    background: #508a77;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
    border: initial;
}
button.disabled, button.disabled:hover {
    color:            #666666;
    background-color: inherit;
    pointer-events: none;
    opacity: 0.5;
    box-shadow: 0px 0px 2px 1px grey;
}


/* TEXT ELEMENTS */
p {
    align-self: center;
    font-size: 1em;
    margin-block-start: 0.5em; /* Override Firefox */
    margin-block-end:   0.5em;
}


/* LAYOUT */
.vertical {
    display: flex;
    flex-direction: column;
}
.horizontal {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    column-gap: 2vw;
}
.has-sidebar-right {
    display: grid;
    grid-template-columns: 80vw 13vw;
    column-gap: 2vw;
}
.has-sidebar-right > * {
    margin-top: 1vh
}

/* CONTAINERS */
.toolbar {
    padding: 5%;
}
.toolbar > hr {
    width:80%;
    margin-top: 12px;
    color: #223945;
}