/* VALIDATION AND FEEDBACK */
#error-area {
    overflow: hidden;
}
#error-drawer {
    transition: height 0.5s;
    height: 28px;
}
div.hidden {
    height: 0 !important;
}
.error-attention {
    animation-name: shakehead;
    animation-duration: 250ms;
}
@keyframes shakehead {
    0%   {transform: translate( 0px, 0px);}
    10%  {transform: translate( 3px, 0px);}
    30%  {transform: translate(-3px, 0px);}
    50%  {transform: translate( 3px, 0px);}
    70%  {transform: translate(-3px, 0px);}
    80%  {transform: translate( 3px, 0px);}
    100% {transform: translate( 0px, 0px);}
}
.feedback-download {
    pointer-events: none;
    font-weight: 700;
    background-image: repeating-linear-gradient(-45deg, 
                                    #223945 10px 30px, /* 223945 */
                                    #32728C 30px 50px, /* 32728C */
                                    #508a77 50px 70px, /* 61A690 */
                                    #bdbdb8 70px 90px, /* EFEFE7 */
                                    #bb5c53 90px 110px /* F0786D */
    );
    background-size: 295% 300%;
    animation-name: backgroundsweep;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
@keyframes backgroundsweep {
    from { background-position: 0% center; }
    to   { background-position: 300% center; }
}

/* TEXT ELEMENTS */
body {
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 1.5em;
    margin-block-start: 0.5em;
    margin-block-end:   0.5em;
}
input {
    /* clear Chrome injected style */
    outline: none;
    border: none;

    /* styling */
    text-transform: uppercase;
    padding: 0.4em 0.2em 0em 0.2em;
    font-size: 2em;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 2px solid #223945;
    background-color: #dbdbdb;

    /* sizing */
    margin-top: 3%;
    box-sizing: border-box;
    width: 100%
}
input::placeholder{
    color: #666666;
}
input:hover{
    background-color: #c4d7e0;
}
input:focus {
    border: none;
    border-bottom: 2px solid #32728C;
    background-color: #d5f3ff;
}

/* STRUCTURE */
.grouped {
    margin: 2% auto 6%;
    padding: 4%;
    /* border-radius: 5px; */
    box-shadow: 0px 3px 5px 0px grey;
}
.ungrouped {
    margin: 3% auto;
    padding: 4px;
}

/* BUTTONS */
.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
    color: #ffffff;
    box-shadow: 0px 1px 3px 0px grey;
    cursor: pointer;
}
.action-search {         background-color: #61A690; }
.action-search:hover {   background-color: #8BACA9; }
.action-download {       background-color: #61A690; }
.action-download:hover { background-color: #8BACA9; }
.disabled, .disabled:hover {
    color:            #666666;
    background-color: inherit;
    pointer-events: none;
    opacity: 0.5;
    box-shadow: 0px 0px 2px 1px grey;
}

/* TOOLBAR */
.toolbar {
    width: 300px;
    display: block flex;
    justify-content: right;
}
.toolbar > .button {
    box-shadow: none;
    height: 0.3em;
    width:  0.3em;
    margin: 1% 1%;
}
.gear-fill {
    background-image: url("/icons/gear-fill.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.arrow-left {
    background-image: url("/icons/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    justify-self: left;
}
.button.hidden {
    padding: 0;
    margin: 0;
    visibility: hidden;
    height: 0;
    width: 0;
}


/* ------ PAGES ------ */
body {
    width: 310px;
}
.slider {
    width: 310px;
    height: auto;
    overflow-x: clip;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.slider-holder {
    width: 200%;
}
.slider-page {
    float: left;
    width: 300px;
    padding: 0 5px;
}
/* MAIN */
#button-search {         background-color: #61A690; }
#button-search:hover {   background-color: #8BACA9; }
#button-download {       background-color: #61A690; }
#button-download:hover { background-color: #8BACA9; }
